#u1830-4
{
	font-family: quicksand-i4, sans-serif;
}

#u1403-2,#u1418-4,#u1827-7,#u1830-8,#u1440-4,#u1447-4
{
	font-family: quicksand-n3, sans-serif;
}

#u1403-4,#u1403-6,#u1504-4
{
	font-family: montserrat-n4, sans-serif;
}

#u1432-4,#u1830-2,#u1506-10,#u1470-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1471-3
{
	font-family: quicksand-n4, sans-serif;
}

#u1482-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1484-3
{
	font-family: quicksand-n4, sans-serif;
}

#widgetu1453.frm-sub-st #u1486-4 p,#u1486-4
{
	font-family: quicksand-n7, sans-serif;
}

#u1477-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1476-3
{
	font-family: quicksand-n4, sans-serif;
}

#widgetu1469_input,#widgetu1480_input,#widgetu1474_input
{
	font-family: quicksand, sans-serif;
}

#u1493-4
{
	font-family: quicksand-n4, sans-serif;
}

