.Paragraph-Style
{
	font-family: quicksand-n4, sans-serif;
}

#u1830-4
{
	font-family: quicksand-i4, sans-serif;
}

#u1403-2,#u1418-4,#u1827-7,#u1830-8,#u1440-4,#u1447-4
{
	font-family: quicksand-n3, sans-serif;
}

#u1432-4,#u1830-2,#u1506-18
{
	font-family: quicksand-n4, sans-serif;
}

#u1403-4,#u1403-6,#u1504-4,#u2153-4,#u2157-4
{
	font-family: montserrat-n4, sans-serif;
}

