#wrapper {
	background: url(bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#amendTitle{
	width: 800px;
}

#center{
	margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#amendForm{
	font-family: 'Quicksand', sans-serif;
	color: white;
	width: 400px;
}

.amendInput{
	background-color: rgba(255, 255, 255, .2);
	color: white;
	width: 350px;
	height: 30px;
	padding: 0px 15px;
	border: none;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.amendInput:focus{
	outline: 0;
	background-color: rgba(255, 255, 255, .5);
}

::-webkit-input-placeholder {
	color: white;
}
::-moz-placeholder {
	color: white;
}
:-moz-placeholder {
	color: white;
}
:-ms-input-placeholder { 
	color: white;
}

.amendTA {
	background-color: rgba(255, 255, 255, .2);
	color: white;
	width: 350px;
	padding: 15px  15px;
	border: none;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	resize: none;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.amendTA:focus{
	outline: 0;
	background-color: rgba(255, 255, 255, .5);
}

#amendSubmit {
	border: solid rgba(255,255,255,.5) 2px;
	color: rgba(255,255,255,.5);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background-color: transparent;
	width: 380px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#amendSubmit:hover,
#amendSubmit:active,
#amendSubmit:focus {
	border: solid rgba(255,255,255,1) 2px;
	color: rgba(255,255,255,1);
	outline: 0;
}

#vertLine{
	border-left: thin solid #fff;
	height: 49vh;
	top: 0px;
	left: 50%;
	position: absolute;
}

#rightColumn{
	width: 400px;
	border: thin dotted white;
	left: 52%;
	height: 720px;
	position: absolute;
	top: 120px;
}